MBLACK = #242424
MRED = #C20C0C
MBUTTON_RED = #ee1111
MBORDER = #919191
MHOVER = #666
MBACKGROUND = #f7f7f7
MFONTBACK_P = #8e8e8e
MFONTBACK_TITLE = #626262
MFONTSIZE_SMALL = 9px
MFONTSIZE_NORMAL = 11px
MFONTSIZE_BIG = 17px
MGRAY_BUTTON = #898989
MBAR_BACK = #b9b9b9
